---
import PagNavigation from "@components/PagNavigation.astro";
import Layout from "@layouts/Layout.astro";
import disciplinas from "./disciplinas.json"

const title = "Disciplinas";

---

<Layout title={title}>
  <main class="min-w-[50vw]">
    <PagNavigation />
    <ul class="flex flex-col gap-6">
      {
        disciplinas.map((disciplina) => (
        <a href={`/disciplinas/${disciplina.folder}`}>
          <li class="capitalize w-full p-2 customBg rounded text-2xl">
            {disciplina.title}
          </li>
        </a>
        ))
      }
    </ul>
  </main>
</Layout>


<style>
  .customBg {
      background-color: #1F283B;
  }
  .customBg:hover {
    background-color: #5a6f9e;
  }
</style>