---
import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";
const allPosts = await Astro.glob("../pages/disciplinas/**/*.{md,mdx}");
const featuredPosts = allPosts.filter(
  (post) => post.frontmatter.featured
);
---

<Layout>
  <main class="flex flex-col justify-around gap-5 min-w-[50vw]">
    <section>
      <h2>Postagens em destaque</h2>
      <ul class="flex flex-row gap-6">
        {
          featuredPosts.map((post) => (
            <Post
              url={post.url}
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              slides={post.frontmatter.slides}
              imageURL={post.frontmatter.imageURL ? post.frontmatter.imageURL : "/images/placeholder.svg"}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
