---
import Navigation from "./Navigation.astro";
---

<header transition:persist class="flex flex-row justify-between items-center">
    <h1 id="aprendendo"><a href="/" class="text-cyan-500 text-2xl">Aprendendo</a></h1>
    <Navigation/>
</header>

<style>
  @media screen and (min-width: 636px) {
    body {
      margin: auto;
      max-width: 50%;
    }
    h1 a {
  font-size: 2rem;
  }
}

</style>
