---
---
<nav class="md:static w-auto bg-none flex items-end">
    <ul class="list-none flex gap-2 items-end">
        <li class="hover:text-lime-400 hover:underline"><a href="/disciplinas" class="px-4 py-5">Disciplinas</a></li>
    </ul>
</nav>