---
---
<nav class="nav-links">
    <ul>
        <li><a href="/disciplinas">Disciplinas</a></li>
    </ul>
</nav>

<style>
  li a:hover {
	color: #FFFFDD;
	text-decoration: underline;
  }
  ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
	align-items: flex-end;
  }
  li a {
	text-decoration: none;
  }
</style>