---
---
<nav class="nav-links">
    <ul class="list-none flex gap-2 items-end">
        <li class="hover:text-lime-400 hover:underline"><a href="/disciplinas">Disciplinas</a></li>
    </ul>
</nav>