---
interface Props {
	title: string;
    description: string;
    imageURL?: string;
    url?: string;
    slides?: string;
}

const { title, description, imageURL, url, slides } = Astro.props;
---
<div class="customBg rounded-md p-3 items-center flex flex-col md:grid md:grid-cols-[1fr,4fr] md:gap-5">
    {imageURL?<div class="max-w-[300px] max-h-[300px]"><img src={imageURL}  /></div> : null}
    <div class="flex flex-col gap-1">
        <h3 class="projectTitle">{title}</h3>
        <p class="text-gray-100 text-justify">{description}</p>
        <a href={slides? slides : url} target={slides? "_blank" : "_self"} class="self-center md:self-start">Ver detalhes</a>
    </div>
</div>

<style>
    .customBg {
        background-color: #1F283B;
    }
</style>