---
import Layout from "./Layout.astro";
import PagNavigation from "@components/PagNavigation.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <PagNavigation />
  <h1>{frontmatter.title}</h1>
  <div>
  </div>
  <slot />
</Layout>
