---
import Layout from "./Layout.astro";
import PagNavigation from "@components/PagNavigation.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <PagNavigation />
  <section class="p-0 my-10 flex flex-col gap-2">
    <h1 class="text-3xl font-bold" id="postTitle">
      {frontmatter.title}
    </h1>
  </section>
  <section id="postContent">
    <slot />
  </section>
</Layout>
